Language: Cpp

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
#AlwaysBreakAfterDefinitionReturnType: (deprecated)
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
#AttributeMacros: (N/A)
BinPackArguments: false
BinPackParameters: false
#BitFieldColonSpacing: (unavailable)
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  #AfterObjCDeclaration: (N/A)
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
#BreakAfterJavaFieldAnnotations: (N/A)
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
#BreakBeforeConceptDeclarations: (unavailable)
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: true
ColumnLimit: 100
#CommentPragmas: (N/A)
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DeriveLineEnding: true
DerivePointerAlignment: false
DisableFormat: false
#ExperimentalAutoDetectBinPacking: (experimental)
FixNamespaceComments: true
#ForEachMacros: (N/A)
IncludeBlocks: Regroup
#IncludeCategories: (N/A)
#IncludeIsMainRegex: (N/A)
#IncludeIsMainSourceRegex: (NA)
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: Indent
IndentGotoLabels: false
IndentPPDirectives: AfterHash
#IndentPragmas: (unavailable)
#IndentRequires: (unavailable)
IndentWidth: 4
IndentWrappedFunctionNames: false
InsertTrailingCommas: Wrapped
#JavaImportGroups: (N/A)
#JavaScriptQuotes: (N/A)
#JavaScriptWrapImports: (N/A)
KeepEmptyLinesAtTheStartOfBlocks: true
#MacroBlockBegin: (N/A)
#MacroBlockEnd: (N/A)
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
#NamespaceMacros: (N/A)
#ObjCBinPackProtocolList: (N/A)
#ObjCBlockIndentWidth: (N/A)
#ObjCBreakBeforeNestedBlockParam: (N/A)
#ObjCSpaceAfterProperty: (N/A)
#ObjCSpaceBeforeProtocolList: (N/A)
PenaltyBreakAssignment: 100
#PenaltyBreakBeforeFirstCallParameter: (N/A)
#PenaltyBreakFirstLessLess: (N/A)
#PenaltyBreakString: (N/A)
#PenaltyBreakTemplateDeclaration: (N/A)
#PenaltyExcessCharacter: (N/A)
#PenaltyIndentedWhitespace: (N/A)
PenaltyReturnTypeOnItsOwnLine: 100
PointerAlignment: Left

#TODO: Look into what this is
#RawStringFormats:
#  - Language: Cpp
#    Delimiters:
#      - 'cc'
#      - 'cpp'
#      CanonicalDelimiter: 'cpp'

ReflowComments: true
SortIncludes: true
#SortJavaStaticImport: (N/A)
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true

#TODO: Look further into this
#SpaceAroundPointerQualifiers: (unavailable)

SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatementsExceptForEachMacros
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
#SpacesInContainerLiterals: (N/A)
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Auto
#StatementMacros: (N/A)
TabWidth: 4
#TypenameMacros: (N/A)
#UseCRLF: (superceded by DeriveLineEnding)
UseTab: Never
#WhitespaceSensitiveMacros: (N/A)